/* Team */
.teams-section {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  align-items: center;
}

.team-card {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card:last-child {
  margin: 0;
}

.team {
  background-color: #f5f4fa;
}

.team-cart-conteiner {
  text-align: center;
  padding: 30px 10px;
  background-color: var(--primery-white-color);
  border-radius: 0px 0px 4px 4px;
}

.team-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}




